html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}


.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(142, 139, 139);
}

.content-padding {
  flex: 1;
  margin-right: 5%;
  margin-left: 5%;
}

h1.route-title {
  text-align: center;
  font-size: 50px;
  padding: 30px;
  font-weight: bold;
}

table {
  width: 100%;
}

.modal-form {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}