html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}


.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.content-padding {
  flex: 1;
  margin-right: 5%;
  margin-left: 5%;
}

h1.route-title {
  text-align: center;
  font-size: 50px;
  padding: 30px;
  font-weight: bold;
}