.navbar {
  background: linear-gradient(
    to bottom,
    #28282B 0%,
    #28282B 90%,
    rgba(40,40,43,0.5) 95%,
    rgba(40,40,43,0) 100%
  );
   height: 75px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  text-align: center;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0;
  display: block;
}

.navbar-links li a:hover {
  color: violet;
}

.navbar-links li a.active {
  background-color: #04AA6D;
  padding: 0.5rem 0;
  border-radius: 4px;
}
