.project-category {
   text-align: Left;
   font-size: 25px;
   margin:20px;
   font-weight: bold;
}

.project-list {
   display: flex;
   flex-wrap: wrap;
}

.project-div {
   flex: 1 1 1;
   box-sizing: border-box;
   padding: 10px;
   text-align: center;
}