.timeline {
  box-sizing: border-box;
}

h2 {
  margin: 5%;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

/* Timeline */
.timeline {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  position: relative;
}

/* Timeline Event */
.timeline-card {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 20px 0;
  border-radius: 6px;
  align-self: center;
  width: 50vw;
}

/* Odd events (2n+1) */
.timeline-card:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.timeline-card:nth-child(2n + 1) .timeline-date {
  border-radius: 0 6px 6px 0;
}

.timeline-card:nth-child(2n + 1) .timeline-card__content {
  border-radius: 6px 0 0 6px;
}

.timeline-card:nth-child(2n + 1) .timeline-card__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #f6a4ec;
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}

.timeline-card:nth-child(2n + 1) .timeline-card__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f6a4ec;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  animation: fillLeft 2s forwards 4s ease-in-out;
}

/* Event title */
.timeline-card__title {
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: #9251ac;
  letter-spacing: 1.5px;
}

/* Event content */
.timeline-card__content {
  padding: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
              0 18px 36px -18px rgba(0, 0, 0, 0.3),
              0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background: #fff;
  width: calc(40vw - 84px);
  border-radius: 0 6px 6px 0;
}

/* Event date */
.timeline-date {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  background: #9251ac;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 6px 0 0 6px;
}

/* Event icon */
.timeline-card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9251ac;
  padding: 40px;
  align-self: center;
  margin: 0 20px;
  background: #f6a4ec;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  position: relative;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
              0 18px 36px -18px rgba(0, 0, 0, 0.3),
              0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.timeline-card__icon i {
  font-size: 32px;
}

.timeline-card__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #f6a4ec;
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}

.timeline-card__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f6a4ec;
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  animation: fillLeftOdd 2s forwards 4s ease-in-out;
}

/* Event description */
.timeline-card__description {
  flex-basis: 60%;
}

/* Type 2 Events */
.timeline-card--type2:after {
  background: #555ac0;
}

.timeline-card--type2 .timeline-date {
  color: #87bbfe;
  background: #555ac0;
}

.timeline-card--type2:nth-child(2n + 1) .timeline-card__icon:before,
.timeline-card--type2:nth-child(2n + 1) .timeline-card__icon:after {
  background: #87bbfe;
}

.timeline-card--type2 .timeline-card__icon {
  background: #87bbfe;
  color: #555ac0;
}

.timeline-card--type2 .timeline-card__icon:before,
.timeline-card--type2 .timeline-card__icon:after {
  background: #87bbfe;
}

.timeline-card--type2 .timeline-card__title {
  color: #555ac0;
}

/* Type 3 Events */
.timeline-card--type3:after {
  background: #24b47e;
}

.timeline-card--type3 .timeline-date {
  color: #aff1b6;
  background-color: #24b47e;
}

.timeline-card--type3:nth-child(2n + 1) .timeline-card__icon:before,
.timeline-card--type3:nth-child(2n + 1) .timeline-card__icon:after {
  background: #aff1b6;
}

.timeline-card--type3 .timeline-card__icon {
  background: #aff1b6;
  color: #24b47e;
}

.timeline-card--type3 .timeline-card__icon:before,
.timeline-card--type3 .timeline-card__icon:after {
  background: #aff1b6;
}

.timeline-card--type3 .timeline-card__title {
  color: #24b47e;
}

/* Last event icon */
.timeline-card:last-child .timeline-card__icon:before {
  content: none;
}

/* Media queries for small screens */
@media (max-width: 786px) {
  .timeline-card {
    flex-direction: column;
    align-self: center;
  }

  .timeline-card__content {
    width: 100%;
  }

  .timeline-card__icon {
    border-radius: 6px 6px 0 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  .timeline-card__icon:before,
  .timeline-card__icon:after {
    display: none;
  }

  .timeline-date {
    border-radius: 0;
    padding: 20px;
  }

  .timeline-card:nth-child(2n + 1) {
    flex-direction: column;
    align-self: center;
  }

  .timeline-card:nth-child(2n + 1) .timeline-date {
    border-radius: 0;
    padding: 20px;
  }

  .timeline-card:nth-child(2n + 1) .timeline-card__icon {
    border-radius: 6px 6px 0 0;
    margin: 0;
  }
}

/* Animations */
@keyframes fillLeft {
  100% {
    right: 100%;
  }
}

@keyframes fillTop {
  100% {
    top: 100%;
  }
}

@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}

.timeline-place {
   font-weight: bold;
}