<div class="project-details" *ngIf="project !== undefined">
  <div class="project-details-img">
  </div>
  <div class="project-details-content">
    <!-- left side -->
    <div class="project-left-side">
      <p class="project-title"> {{ project.name }} </p>
      <p class="project-description"> {{ project.description }} </p>
    </div>
    <!-- right side -->
    <div class="project-right-side">
      <p> <span class="other-title"> Type </span> : {{ project.type }} </p>
      <p> <span class="other-title"> Status </span> : {{ project.status }} </p>
    
      
      
      <div class="links-content">
        <hr />
        <div class="links">
          @if (project.githubLink) {
          <a class="github-link" [href]="project.githubLink" target="_blank">
            <img src="/assets/icons/github-brands-solid-full.svg" />
          </a>
        }
        </div>
        
      </div>
    </div>
  
  </div>
 
</div>

<div *ngIf="project === undefined">
  <p> le projet n'existe pas </p>
</div>