<div class="home">
  <div class="home-image">
    <img src="/assets/images/me.jpg"/>
  </div>

  <div class="home-content">
    <h1> Damien CHABRET </h1>
    <p class="description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt velit in rutrum elementum. Mauris sit amet ante pulvinar, cursus ex sit amet, pretium arcu. Aenean semper consequat purus, in pharetra urna venenatis nec. Mauris rhoncus lectus sed lectus mollis, in imperdiet mi auctor. Integer at velit eu tortor ultrices euismod a et tortor. Sed tincidunt arcu a odio tristique congue. Etiam auctor fringilla turpis, sed malesuada tellus euismod id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed placerat dapibus lectus quis semper. Etiam aliquam lectus at ipsum molestie sodales. Pellentesque aliquam in augue vitae sagittis. Phasellus quis bibendum est. Maecenas varius metus convallis nulla dictum pulvinar. </p>
    <a href="/"> mon cv </a>
  </div>
</div>
