.home {
   display: flex;
   gap: 20px;
   padding: 0px;
}

.home-image img {
   height: auto;
   width: 100%;
   --webkit-mask-image: 
    linear-gradient(to top,  transparent 10%, #fff 15% 90%, transparent 80%, transparent 95%),
    linear-gradient(to left, transparent 10%, #fff 15% 90%, transparent 80%, transparent 95%);
  mask-size:110% 110%;
  mask-position:center;
  mask-repeat:no-repeat;
  mask-composite: source-in;
   mask-image: 
    linear-gradient(to top,  transparent 10%, #fff 15% 90%, transparent 95%),
    linear-gradient(to left, transparent 10%, #fff 15% 90%, transparent 95%);
}

.home-image {
   width: 30%;
}

.home-content {
   padding: 20px;
   width: 70%; 
   padding-top: 250px;
}

h1 {
   font-size: 80px;
}

.description {
   margin-top: 25px;
}